<div *ngFor="let user of users">
  <div class="background">
    <div class="card-header">
      {{ user.entreprise }}
      <div class="card">
        <div class="name">{{ user.nom }} {{ user.prenom }}</div>
        <div class="info">
          <p>Email : {{ user.email }}</p>
          <p>Téléphone : {{ user.telephone }}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<form [formGroup]="user" (ngSubmit)="onSubmit()">
  <label for="nom">Nom : </label>
  <input type="text" formControlName="nom" />
  <span *ngIf="this.user.controls['nom'].invalid && submitted"
    >* Le nom n'est pas valide (2 caractères minimum)</span
  >
  <span *ngIf="this.user.controls['nom'].untouched && submitted"
    >* Veuillez remplir le champ nom</span
  >
  <label for="prenom">Prénom : </label>
  <input type="text" formControlName="prenom" />
  <span *ngIf="this.user.controls['prenom'].invalid && submitted"
    >* Le prénom n'est pas valide (2 caractères minimum)</span
  >
  <span *ngIf="this.user.controls['prenom'].untouched && submitted"
    >* Veuillez remplir le champ prénom</span
  >

  <label for="email">Email : </label>
  <input type="text" formControlName="email" />
  <span *ngIf="this.user.controls['email'].invalid && submitted"
    >* L'email n'est pas valide</span
  >
  <span *ngIf="this.user.controls['email'].untouched && submitted"
    >* Veuillez remplir le champ email</span
  >

  <label for="nom">Entreprise : </label>
  <input type="text" formControlName="entreprise" />
  <span *ngIf="this.user.controls['entreprise'].invalid && submitted"
    >* Le nom d'entreprise n'est pas valide (2 caractères minimum)
  </span>
  <span *ngIf="this.user.controls['entreprise'].untouched && submitted"
    >* Veuillez remplir le champ entreprise</span
  >

  <label for="telephone">Téléphone : </label>
  <input type="text" formControlName="telephone" />
  <span *ngIf="this.user.controls['telephone'].invalid && submitted"
    >* Le numéro de téléphone n'est pas valide</span
  >
  <span *ngIf="this.user.controls['nom'].untouched && submitted"
    >* Veuillez remplir le champ téléphone</span
  >

  <button type="submit">Ajouter</button>
</form>
